In [401]:
import numpy as np
import pandas as pd

In [402]:
books=pd.read_csv("C:\\Users\\HP\\Documents\\Excel R data\\project_book_recommendation\\Books.csv")
users=pd.read_csv("C:\\Users\\HP\\Documents\\Excel R data\\project_book_recommendation\\Users.csv")
ratings=pd.read_csv("C:\\Users\\HP\\Documents\\Excel R data\\project_book_recommendation\\Ratings.csv")

C:\Users\HP\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [403]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [404]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [405]:
users.shape

(278858, 3)

In [406]:
users.loc[(users.Age > 100) | (users.Age < 5), 'age'] = np.nan
users.Age.isnull().sum()

110762

In [407]:
# Filling the NAN by mean
users["Age"] = users["Age"].fillna(users.Age.mean())
users.Age.isnull().sum()

0

In [408]:
users[users['Location'].str.contains("canada")]

        User-ID                                   Location        Age  age
7             8                   timmins, ontario, canada  34.751434  NaN
14           15                   calgary, alberta, canada  34.751434  NaN
35           36                   montreal, quebec, canada  24.000000  NaN
54           55                   calgary, alberta, canada  34.751434  NaN
57           58                  edmonton, alberta, canada  34.751434  NaN
...         ...                                        ...        ...  ...
278786   278787             dartmouth, nova scotia, canada  34.751434  NaN
278822   278823  new westminster, british columbia, canada  34.751434  NaN
278845   278846                   toronto, ontario, canada  23.000000  NaN
278848   278849                georgetown, ontario, canada  23.000000  NaN
278855   278856                  brampton, ontario, canada  34.751434  NaN

[21678 rows x 4 columns]

In [409]:
# Note: Used Pandas Series.str.split method as it has an 'expand' parameter
user_location_expanded = users.Location.str.split(',', 2, expand=True)
user_location_expanded.columns = ['city', 'state', 'country']
users = users.join(user_location_expanded)

In [410]:
users.drop(columns=['Location','age'], inplace=True)
users.head()

   User-ID        Age         city             state          country
0        1  34.751434          nyc          new york              usa
1        2  18.000000     stockton        california              usa
2        3  34.751434       moscow   yukon territory           russia
3        4  17.000000        porto          v.n.gaia         portugal
4        5  34.751434  farnborough             hants   united kingdom

In [411]:
top_cities = users.country.value_counts()[:10]
print(f'The 10 cities with the most no. of users \n{top_cities}')

The 10 cities with the most no. of users
 usa               139183
 canada             21556
 united kingdom     18286
 germany            17021
 spain              13088
 australia          11719
 italy              11238
                     4561
 france              3440
 portugal            3305
Name: country, dtype: int64

In [412]:
usa_data=users[users['city']=='itly']
usa_data.shape

(0, 5)

In [413]:
users.groupby('country').count()['User-ID'].reset_index()

                               country  User-ID
0                                          4561
1       australia, victoria, australia        1
2              england, united kingdom        1
3             pasig city., philippines        1
4                     &#20013;&#22269;        1
...                                ...      ...
1271               surabaya, indonesia        1
1272                uk, united kingdom        1
1273            usa, rhode island, usa        1
1274       yamunanagar, haryana, india        1
1275   yishun st 11,#04-157, singapore        1

[1276 rows x 2 columns]

In [414]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [415]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 5)

In [416]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [417]:
users.isnull().sum()

User-ID    0
Age        0
city       0
state      1
country    2
dtype: int64

In [418]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [419]:
books.duplicated().sum()

0

In [420]:
ratings.duplicated().sum()

0

In [421]:
users.duplicated().sum()

0

# Popularity based recommender system

In [422]:
# merging books and ratings on ISBN
ratings_with_book=ratings.merge(books, on='ISBN')
ratings_with_book.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [423]:
ratings_with_book.shape

(1031136, 10)

In [424]:
# merging ratings_with_name with users on user-id
ratings_with_book_with_users=ratings_with_book.merge(users, on='User-ID')
ratings_with_book_with_users.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Age,city,state,country
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,34.751434,tyler,texas,usa
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,23.000000,cincinnati,ohio,usa
2,2313,0812533550,9,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1986,Tor Books,http://images.amazon.com/images/P/0812533550.0...,http://images.amazon.com/images/P/0812533550.0...,http://images.amazon.com/images/P/0812533550.0...,23.000000,cincinnati,ohio,usa
3,2313,0679745580,8,In Cold Blood (Vintage International),TRUMAN CAPOTE,1994,Vintage,http://images.amazon.com/images/P/0679745580.0...,http://images.amazon.com/images/P/0679745580.0...,http://images.amazon.com/images/P/0679745580.0...,23.000000,cincinnati,ohio,usa
4,2313,0060173289,9,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,1996,HarperCollins,http://images.amazon.com/images/P/0060173289.0...,http://images.amazon.com/images/P/0060173289.0...,http://images.amazon.com/images/P/0060173289.0...,23.000000,cincinnati,ohio,usa

In [425]:
ratings_with_book_with_users.shape

(1031136, 14)

In [426]:
num_rating_df=ratings_with_book_with_users.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_rating'},inplace=True)
num_rating_df.head()

                                          Book-Title  num_rating
0   A Light in the Storm: The Civil War Diary of ...           4
1                              Always Have Popsicles           1
2               Apple Magic (The Collector's series)           1
3   Ask Lily (Young Women of Faith: Lily Series, ...           1
4   Beyond IBM: Leadership Marketing and Finance ...           1

In [427]:
num_rating_df.shape

(241071, 2)

In [428]:
avg_rating_df=ratings_with_book_with_users.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df.head()

                                          Book-Title  avg_rating
0   A Light in the Storm: The Civil War Diary of ...        2.25
1                              Always Have Popsicles        0.00
2               Apple Magic (The Collector's series)        0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...        8.00
4   Beyond IBM: Leadership Marketing and Finance ...        0.00

In [429]:
avg_rating_df.shape

(241071, 2)

In [430]:
popular_df = num_rating_df.merge(avg_rating_df, on='Book-Title')
popular_df

,Book-Title,num_rating,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [431]:
popular_df=popular_df[popular_df['num_rating']>=250].sort_values('avg_rating', ascending=False)
popular_df

,Book-Title,num_rating,avg_rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
...,...,...,...
227701,Vinegar Hill (Oprah's Book Club (Paperback)),265,2.245283
233635,Whispers,286,2.199301
143377,Presumed Innocent,294,2.139456
94382,Isle of Dogs,288,2.000000
234951,Wild Animus,2502,1.019584

In [432]:
popular_df=popular_df[popular_df['num_rating']>=250].sort_values('avg_rating', ascending=False).head(20)
popular_df

,Book-Title,num_rating,avg_rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
187880,The Five People You Meet in Heaven,430,4.551163
180556,The Catcher in the Rye,449,4.545657
196326,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
206502,The Secret Life of Bees,774,4.447028
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970

In [433]:
print(popular_df.shape)

(20, 3)

In [434]:
popular_df_book=popular_df.merge(ratings_with_book_with_users, on='Book-Title')

In [435]:
popular_df_book.head()

,Book-Title,num_rating,avg_rating,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Age,city,state,country
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,145451,0439136350,0,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,63.0,winter haven,florida,usa
1,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,195374,0439136350,10,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,51.0,navarre,florida,usa
2,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,208406,0439136369,10,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,30.0,kansas city,missouri,usa
3,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,240144,0439136350,10,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,34.0,muskego,wisconsin,usa
4,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,260897,0439136369,0,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,25.0,chicago,illinois,usa

In [436]:
popular_df_book.shape

(9414, 16)

In [437]:
popular_df_book=popular_df_book.drop_duplicates('Book-Title')
popular_df_book

,Book-Title,num_rating,avg_rating,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Age,city,state,country
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,145451,0439136350,0,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,63.000000,winter haven,florida,usa
428,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,145451,0439139597,0,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,63.000000,winter haven,florida,usa
815,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410,23768,043936213X,0,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...,45.000000,st. louis,missouri,usa
1093,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441,77480,043935806X,0,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,51.000000,gig harbor,washington,usa
1440,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453,28523,0439064864,0,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,24.000000,springfield,missouri,usa
1996,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117,28523,0345339681,0,J.R.R. TOLKIEN,1986,Del Rey,http://images.amazon.com/images/P/0345339681.0...,http://images.amazon.com/images/P/0345339681.0...,http://images.amazon.com/images/P/0345339681.0...,24.000000,springfield,missouri,usa
2277,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370,138543,0345339703,10,J.R.R. TOLKIEN,1986,Del Rey,http://images.amazon.com/images/P/0345339703.0...,http://images.amazon.com/images/P/0345339703.0...,http://images.amazon.com/images/P/0345339703.0...,21.000000,mesquite,texas,usa
2645,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652,23768,059035342X,0,J. K. Rowling,1999,Arthur A. Levine Books,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...,45.000000,st. louis,missouri,usa
3220,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769,81977,0618002235,0,J. R. R. Tolkien,1999,Houghton Mifflin Company,http://images.amazon.com/images/P/0618002235.0...,http://images.amazon.com/images/P/0618002235.0...,http://images.amazon.com/images/P/0618002235.0...,34.000000,minneapolis,minnesota,usa
3480,To Kill a Mockingbird,510,4.700000,10314,0446310786,9,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...,34.751434,beaverton,oregon,usa
3990,The Da Vinci Code,898,4.642539,6543,0385504209,0,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...,34.000000,strafford,missouri,usa
4888,The Five People You Meet in Heaven,430,4.551163,10314,0786868716,0,Mitch Albom,2003,Hyperion,http://images.amazon.com/images/P/0786868716.0...,http://images.amazon.com/images/P/0786868716.0...,http://images.amazon.com/images/P/0786868716.0...,34.751434,beaverton,oregon,usa
5318,The Catcher in the Rye,449,4.545657,23768,0316769487,0,J.D. Salinger,1991,"Little, Brown",http://images.amazon.com/images/P/0316769487.0...,http://images.amazon.com/images/P/0316769487.0...,http://images.amazon.com/images/P/0316769487.0...,45.000000,st. louis,missouri,usa
5767,The Lovely Bones: A Novel,1295,4.468726,6543,0316666343,0,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...,34.000000,strafford,missouri,usa
7062,1984,284,4.454225,8680,0451519841,5,George Orwell,1980,New Amer Library,http://images.amazon.com/images/P/0451519841.0...,http://images.amazon.com/images/P/0451519841.0...,http://images.amazon.com/images/P/0451519841.0...,2.000000,st. charles county,missouri,usa
7346,Prodigal Summer: A Novel,253,4.450593,23768,0060959037,0,Barbara Kingsolver,2001,Perennial,http://images.amazon.com/images/P/0060959037.0...,http://images.amazon.com/images/P/0060959037.0...,http://images.amazon.com/images/P/0060959037.0...,45.000000,st. louis,missouri,usa
7599,Neverwhere,265,4.449057,11676,0380789019,7,Neil Gaiman,1998,Avon,http://images.amazon.com/images/P/0380789019.0...,http://images.amazon.com/images/P/0380789019.0...,http://images.amazon.com/images/P/0380789019.0...,34.751434,n/a,n/a,n/a
7864,The Secret Life of Bees,774,4.447028,6543,0142001740,9,Sue Monk Kidd,2003,Penguin Books,http://images.amazon.com/images/P/0142001740.0...,http://images.amazon.com/images/P/0142001740.0...,http://images.amazon.com/images/P/0142001740.0...,34.000000,strafford,missouri,usa
8638,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890,23768,0060392452,0,Michael Moore,2002,Regan Books,http://images.amazon.com/images/P/0060392452.0...,http://images.amazon.com/images/P/0060392452.0...,http://images.amazon.com/images/P/0060392452.0...,45.000000,st. louis,missouri,usa
8921,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970,23768,0385484518,0,MITCH ALBOM,1997,Doubleday,http://images.amazon.com/images/P/0385484518.0...,http://images.amazon.com/images/P/0385484518.0...,http://images.amazon.com/images/P/0385484518.0...,45.000000,st. louis,missouri,usa

In [438]:
popular_df_book.shape

(20, 16)

In [439]:
popular_df_book=popular_df_book.drop(['Image-URL-M','Image-URL-L'], axis=1)

In [440]:
popular_df_book

,Book-Title,num_rating,avg_rating,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Age,city,state,country
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,145451,0439136350,0,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,63.000000,winter haven,florida,usa
428,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,145451,0439139597,0,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,63.000000,winter haven,florida,usa
815,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410,23768,043936213X,0,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/043936213X.0...,45.000000,st. louis,missouri,usa
1093,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441,77480,043935806X,0,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,51.000000,gig harbor,washington,usa
1440,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453,28523,0439064864,0,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...,24.000000,springfield,missouri,usa
1996,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117,28523,0345339681,0,J.R.R. TOLKIEN,1986,Del Rey,http://images.amazon.com/images/P/0345339681.0...,24.000000,springfield,missouri,usa
2277,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370,138543,0345339703,10,J.R.R. TOLKIEN,1986,Del Rey,http://images.amazon.com/images/P/0345339703.0...,21.000000,mesquite,texas,usa
2645,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652,23768,059035342X,0,J. K. Rowling,1999,Arthur A. Levine Books,http://images.amazon.com/images/P/059035342X.0...,45.000000,st. louis,missouri,usa
3220,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769,81977,0618002235,0,J. R. R. Tolkien,1999,Houghton Mifflin Company,http://images.amazon.com/images/P/0618002235.0...,34.000000,minneapolis,minnesota,usa
3480,To Kill a Mockingbird,510,4.700000,10314,0446310786,9,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,34.751434,beaverton,oregon,usa
3990,The Da Vinci Code,898,4.642539,6543,0385504209,0,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...,34.000000,strafford,missouri,usa
4888,The Five People You Meet in Heaven,430,4.551163,10314,0786868716,0,Mitch Albom,2003,Hyperion,http://images.amazon.com/images/P/0786868716.0...,34.751434,beaverton,oregon,usa
5318,The Catcher in the Rye,449,4.545657,23768,0316769487,0,J.D. Salinger,1991,"Little, Brown",http://images.amazon.com/images/P/0316769487.0...,45.000000,st. louis,missouri,usa
5767,The Lovely Bones: A Novel,1295,4.468726,6543,0316666343,0,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...,34.000000,strafford,missouri,usa
7062,1984,284,4.454225,8680,0451519841,5,George Orwell,1980,New Amer Library,http://images.amazon.com/images/P/0451519841.0...,2.000000,st. charles county,missouri,usa
7346,Prodigal Summer: A Novel,253,4.450593,23768,0060959037,0,Barbara Kingsolver,2001,Perennial,http://images.amazon.com/images/P/0060959037.0...,45.000000,st. louis,missouri,usa
7599,Neverwhere,265,4.449057,11676,0380789019,7,Neil Gaiman,1998,Avon,http://images.amazon.com/images/P/0380789019.0...,34.751434,n/a,n/a,n/a
7864,The Secret Life of Bees,774,4.447028,6543,0142001740,9,Sue Monk Kidd,2003,Penguin Books,http://images.amazon.com/images/P/0142001740.0...,34.000000,strafford,missouri,usa
8638,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890,23768,0060392452,0,Michael Moore,2002,Regan Books,http://images.amazon.com/images/P/0060392452.0...,45.000000,st. louis,missouri,usa
8921,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970,23768,0385484518,0,MITCH ALBOM,1997,Doubleday,http://images.amazon.com/images/P/0385484518.0...,45.000000,st. louis,missouri,usa

In [441]:
country_books_count = popular_df_book.groupby('country').count()['Book-Title']
country_books_count.head()

country
 n/a     1
 usa    19
Name: Book-Title, dtype: int64

In [442]:
usa_books = popular_df_book[popular_df_book['country'].str.contains("usa")]
usa_books.head()

,Book-Title,num_rating,avg_rating,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Age,city,state,country
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,145451,0439136350,0,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,63.0,winter haven,florida,usa
428,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,145451,0439139597,0,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,63.0,winter haven,florida,usa
815,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410,23768,043936213X,0,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/043936213X.0...,45.0,st. louis,missouri,usa
1093,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441,77480,043935806X,0,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,51.0,gig harbor,washington,usa
1440,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453,28523,0439064864,0,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...,24.0,springfield,missouri,usa

In [443]:
t =popular_df_book['Age'].between(0,20)
t[t].count()

1

In [444]:
x =popular_df_book['Age'].between(20,40)
x[x].count()

10

In [445]:
y =popular_df_book['Age'].between(40,60)
y[y].count()

7

In [446]:
z =popular_df_book['Age'].between(60,100)
z[z].count()

2

In [447]:
author_book=popular_df_book.groupby('Book-Author').count()['Book-Title']
author_book

Book-Author
Alice Sebold          1
Barbara Kingsolver    1
Dan Brown             1
George Orwell         1
Harper Lee            1
J. K. Rowling         6
J. R. R. Tolkien      1
J.D. Salinger         1
J.R.R. TOLKIEN        2
MITCH ALBOM           1
Michael Moore         1
Mitch Albom           1
Neil Gaiman           1
Sue Monk Kidd         1
Name: Book-Title, dtype: int64

In [448]:
year_book=popular_df_book.groupby('Year-Of-Publication').count()['Book-Title']
year_book

Year-Of-Publication
1980    1
1986    2
1988    1
1991    1
1997    1
1998    1
1999    4
2000    1
2001    2
2002    2
2003    4
Name: Book-Title, dtype: int64

In [449]:
publisher_book=popular_df_book.groupby('Publisher').count()['Book-Title']
publisher_book

Publisher
Arthur A. Levine Books        1
Avon                          1
Del Rey                       2
Doubleday                     2
Houghton Mifflin Company      1
Hyperion                      1
Little Brown &amp; Company    1
Little, Brown                 2
New Amer Library              1
Penguin Books                 1
Perennial                     1
Regan Books                   1
Scholastic                    5
Name: Book-Title, dtype: int64

# Collaborative filtering

In [450]:
# Users who read or rate atleast 200 books
# Books which are rated by minimum 50 peoples

In [451]:
ratings_with_book.groupby('User-ID').count()['Book-Rating']

User-ID
2          1
8         17
9          3
10         1
12         1
          ..
278846     1
278849     4
278851    23
278852     1
278854     8
Name: Book-Rating, Length: 92106, dtype: int64

In [452]:
# only 92106 users rated the books

In [453]:
# Users who rated more than 200 books
x=ratings_with_book.groupby('User-ID').count()['Book-Rating']>200
x

User-ID
2         False
8         False
9         False
10        False
12        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: Book-Rating, Length: 92106, dtype: bool

In [454]:
# total 92106 users
# False - users who rated less than 200 books
# True- users who rated more than 200 books

In [455]:
x[x]

User-ID
254       True
2276      True
2766      True
2977      True
3363      True
          ...
274308    True
275970    True
277427    True
277639    True
278418    True
Name: Book-Rating, Length: 811, dtype: bool

In [456]:
# It gives 811 users who rated more than 200 books

In [457]:
learned_users=x[x].index
learned_users

Int64Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,
              6323,   6543,
            ...
            271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427,
            277639, 278418],
           dtype='int64', name='User-ID', length=811)

In [458]:
filtered_rating=ratings_with_book[ratings_with_book['User-ID'].isin(learned_users)]
filtered_rating

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1030883,275970,1880837927,0,The Theology of the Hammer,Millard Fuller,1994,Smyth &amp; Helwys Publishing,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...
1030884,275970,188717897X,0,The Ordeal of Integration: Progress and Resent...,Orlando Patterson,1998,Civitas Book Publisher,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...
1030885,275970,1888889047,0,Pushcart's Complete Rotten Reviews &amp; Rejec...,Bill Henderson,1998,Pushcart Press,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...
1030886,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...
1030887,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...

In [459]:
# only 474007 rating are done by learned_users(811 users)

In [460]:
y=filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books=y[y].index
famous_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=706)

In [461]:
final_ratings=filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1026724,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
1027923,269566,0670809381,0,Echoes,Maeve Binchy,1986,Penguin USA,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...
1028777,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1029070,271705,B0001PIOX4,0,Fahrenheit 451,Ray Bradbury,1993,Simon &amp; Schuster,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...
1030868,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [462]:
final_ratings=final_ratings.merge(users, on='User-ID')
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Age,city,state,country
0,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,34.751434,omaha,nebraska,usa
1,278418,038550120X,0,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,34.751434,omaha,nebraska,usa
2,278418,055356451X,0,Night Sins,TAMI HOAG,1995,Bantam,http://images.amazon.com/images/P/055356451X.0...,http://images.amazon.com/images/P/055356451X.0...,http://images.amazon.com/images/P/055356451X.0...,34.751434,omaha,nebraska,usa
3,278418,0671537458,0,Waiting to Exhale,Terry McMillan,1995,Pocket,http://images.amazon.com/images/P/0671537458.0...,http://images.amazon.com/images/P/0671537458.0...,http://images.amazon.com/images/P/0671537458.0...,34.751434,omaha,nebraska,usa
4,278418,0786817070,0,"Artemis Fowl (Artemis Fowl, Book 1)",Eoin Colfer,2002,Miramax Kids,http://images.amazon.com/images/P/0786817070.0...,http://images.amazon.com/images/P/0786817070.0...,http://images.amazon.com/images/P/0786817070.0...,34.751434,omaha,nebraska,usa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58581,79441,006101351x,8,The Perfect Storm : A True Story of Men Agains...,Sebastian Junger,1998,HarperTorch,http://images.amazon.com/images/P/006101351X.0...,http://images.amazon.com/images/P/006101351X.0...,http://images.amazon.com/images/P/006101351X.0...,43.000000,spruce grove,alberta,canada
58582,193560,0743418131,0,Deck the Halls (Holiday Classics),Mary Higgins Clark,2002,Pocket,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...,37.000000,coalville,england,united kingdom
58583,72352,0786002832,5,Dangerous,Fabio,1996,Pinnacle Books,http://images.amazon.com/images/P/0786002832.0...,http://images.amazon.com/images/P/0786002832.0...,http://images.amazon.com/images/P/0786002832.0...,49.000000,samieira,pontevedra,spain
58584,72352,1551668874,0,Heartbreaker,Linda Howard,2002,Mira,http://images.amazon.com/images/P/1551668874.0...,http://images.amazon.com/images/P/1551668874.0...,http://images.amazon.com/images/P/1551668874.0...,49.000000,samieira,pontevedra,spain
58585,72352,0671670069,10,Guardian Angel,Julie Garwood,1990,Pocket,http://images.amazon.com/images/P/0671670069.0...,http://images.amazon.com/images/P/0671670069.0...,http://images.amazon.com/images/P/0671670069.0...,49.000000,samieira,pontevedra,spain

In [463]:
final_ratings.drop_duplicates()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Age,city,state,country
0,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,34.751434,omaha,nebraska,usa
1,278418,038550120X,0,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,34.751434,omaha,nebraska,usa
2,278418,055356451X,0,Night Sins,TAMI HOAG,1995,Bantam,http://images.amazon.com/images/P/055356451X.0...,http://images.amazon.com/images/P/055356451X.0...,http://images.amazon.com/images/P/055356451X.0...,34.751434,omaha,nebraska,usa
3,278418,0671537458,0,Waiting to Exhale,Terry McMillan,1995,Pocket,http://images.amazon.com/images/P/0671537458.0...,http://images.amazon.com/images/P/0671537458.0...,http://images.amazon.com/images/P/0671537458.0...,34.751434,omaha,nebraska,usa
4,278418,0786817070,0,"Artemis Fowl (Artemis Fowl, Book 1)",Eoin Colfer,2002,Miramax Kids,http://images.amazon.com/images/P/0786817070.0...,http://images.amazon.com/images/P/0786817070.0...,http://images.amazon.com/images/P/0786817070.0...,34.751434,omaha,nebraska,usa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58581,79441,006101351x,8,The Perfect Storm : A True Story of Men Agains...,Sebastian Junger,1998,HarperTorch,http://images.amazon.com/images/P/006101351X.0...,http://images.amazon.com/images/P/006101351X.0...,http://images.amazon.com/images/P/006101351X.0...,43.000000,spruce grove,alberta,canada
58582,193560,0743418131,0,Deck the Halls (Holiday Classics),Mary Higgins Clark,2002,Pocket,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...,37.000000,coalville,england,united kingdom
58583,72352,0786002832,5,Dangerous,Fabio,1996,Pinnacle Books,http://images.amazon.com/images/P/0786002832.0...,http://images.amazon.com/images/P/0786002832.0...,http://images.amazon.com/images/P/0786002832.0...,49.000000,samieira,pontevedra,spain
58584,72352,1551668874,0,Heartbreaker,Linda Howard,2002,Mira,http://images.amazon.com/images/P/1551668874.0...,http://images.amazon.com/images/P/1551668874.0...,http://images.amazon.com/images/P/1551668874.0...,49.000000,samieira,pontevedra,spain
58585,72352,0671670069,10,Guardian Angel,Julie Garwood,1990,Pocket,http://images.amazon.com/images/P/0671670069.0...,http://images.amazon.com/images/P/0671670069.0...,http://images.amazon.com/images/P/0671670069.0...,49.000000,samieira,pontevedra,spain

In [464]:
final_ratings=final_ratings.drop(['Image-URL-S','Image-URL-M','Image-URL-L'], axis=1)

In [465]:
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Age,city,state,country
0,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,34.751434,omaha,nebraska,usa
1,278418,038550120X,0,A Painted House,JOHN GRISHAM,2001,Doubleday,34.751434,omaha,nebraska,usa
2,278418,055356451X,0,Night Sins,TAMI HOAG,1995,Bantam,34.751434,omaha,nebraska,usa
3,278418,0671537458,0,Waiting to Exhale,Terry McMillan,1995,Pocket,34.751434,omaha,nebraska,usa
4,278418,0786817070,0,"Artemis Fowl (Artemis Fowl, Book 1)",Eoin Colfer,2002,Miramax Kids,34.751434,omaha,nebraska,usa
...,...,...,...,...,...,...,...,...,...,...,...
58581,79441,006101351x,8,The Perfect Storm : A True Story of Men Agains...,Sebastian Junger,1998,HarperTorch,43.000000,spruce grove,alberta,canada
58582,193560,0743418131,0,Deck the Halls (Holiday Classics),Mary Higgins Clark,2002,Pocket,37.000000,coalville,england,united kingdom
58583,72352,0786002832,5,Dangerous,Fabio,1996,Pinnacle Books,49.000000,samieira,pontevedra,spain
58584,72352,1551668874,0,Heartbreaker,Linda Howard,2002,Mira,49.000000,samieira,pontevedra,spain
58585,72352,0671670069,10,Guardian Angel,Julie Garwood,1990,Pocket,49.000000,samieira,pontevedra,spain

In [466]:
final_ratings["Book-Title"].value_counts()

Wild Animus                           330
Bridget Jones's Diary                 263
The Lovely Bones: A Novel             261
The Notebook                          238
The Pelican Brief                     229
                                     ...
Second Nature                          50
Killjoy                                50
White Teeth: A Novel                   50
Bridget Jones : The Edge of Reason     50
The Fourth Hand                        50
Name: Book-Title, Length: 706, dtype: int64

In [467]:
final_ratings["User-ID"].value_counts()

11676     947
35859     429
76352     380
16795     378
153662    354
         ...
173632      2
4385        2
133868      1
241198      1
193560      1
Name: User-ID, Length: 810, dtype: int64

In [468]:
final_ratings["country"].value_counts()

 usa                        49010
 canada                      4699
 n/a                          947
 united kingdom               940
 australia                    450
                              439
 portugal                     406
 malaysia                     257
 new zealand                  213
 germany                      213
 spain                        161
 iran                         123
 netherlands                  100
 us                            69
 france                        67
 china                         66
 brazil                        64
 new york, georgia, usa        63
 romania                       62
 england, united kingdom       59
 belgium                       38
 qatar                         36
 switzerland                   34
 dominican republic            25
 ohio, usa                     18
 japan                         15
 sweden                        10
 austria                        2
Name: country, dtype: int64

In [469]:
country_users_rating = final_ratings[final_ratings['country'].str.contains('usa')]
country_users_rating

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Age,city,state,country
0,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,34.751434,omaha,nebraska,usa
1,278418,038550120X,0,A Painted House,JOHN GRISHAM,2001,Doubleday,34.751434,omaha,nebraska,usa
2,278418,055356451X,0,Night Sins,TAMI HOAG,1995,Bantam,34.751434,omaha,nebraska,usa
3,278418,0671537458,0,Waiting to Exhale,Terry McMillan,1995,Pocket,34.751434,omaha,nebraska,usa
4,278418,0786817070,0,"Artemis Fowl (Artemis Fowl, Book 1)",Eoin Colfer,2002,Miramax Kids,34.751434,omaha,nebraska,usa
...,...,...,...,...,...,...,...,...,...,...,...
58569,238961,0345339738,10,"The Return of the King (The Lord of the Rings,...",J.R.R. TOLKIEN,1986,Del Rey,18.000000,antioch,illinois,usa
58570,238961,0842329218,10,Tribulation Force: The Continuing Drama of Tho...,Tim LaHaye,1997,Tyndale House Publishers,18.000000,antioch,illinois,usa
58571,238961,0842329242,7,Nicolae: The Rise of Antichrist (Left Behind N...,Tim F. Lahaye,1998,Tyndale House Publishers,18.000000,antioch,illinois,usa
58572,238961,0440800544,0,A Wrinkle in Time,Madeleine L'Engle,1988,Dell Publishing,18.000000,antioch,illinois,usa
58573,238961,0690040784,0,Jacob Have I Loved,Katherine Paterson,1980,HarperCollins,18.000000,antioch,illinois,usa

In [470]:
country_users_rating.drop_duplicates()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Age,city,state,country
0,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,34.751434,omaha,nebraska,usa
1,278418,038550120X,0,A Painted House,JOHN GRISHAM,2001,Doubleday,34.751434,omaha,nebraska,usa
2,278418,055356451X,0,Night Sins,TAMI HOAG,1995,Bantam,34.751434,omaha,nebraska,usa
3,278418,0671537458,0,Waiting to Exhale,Terry McMillan,1995,Pocket,34.751434,omaha,nebraska,usa
4,278418,0786817070,0,"Artemis Fowl (Artemis Fowl, Book 1)",Eoin Colfer,2002,Miramax Kids,34.751434,omaha,nebraska,usa
...,...,...,...,...,...,...,...,...,...,...,...
58569,238961,0345339738,10,"The Return of the King (The Lord of the Rings,...",J.R.R. TOLKIEN,1986,Del Rey,18.000000,antioch,illinois,usa
58570,238961,0842329218,10,Tribulation Force: The Continuing Drama of Tho...,Tim LaHaye,1997,Tyndale House Publishers,18.000000,antioch,illinois,usa
58571,238961,0842329242,7,Nicolae: The Rise of Antichrist (Left Behind N...,Tim F. Lahaye,1998,Tyndale House Publishers,18.000000,antioch,illinois,usa
58572,238961,0440800544,0,A Wrinkle in Time,Madeleine L'Engle,1988,Dell Publishing,18.000000,antioch,illinois,usa
58573,238961,0690040784,0,Jacob Have I Loved,Katherine Paterson,1980,HarperCollins,18.000000,antioch,illinois,usa

In [471]:
# Noduplicates

In [472]:
# Pivot Table when index are book title and columns are user-id
# our aim is to find similarity between books

In [473]:
pivot_table = country_users_rating.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')
pivot_table

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271284,271448,271705,273979,274061,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,9.0,NaN,NaN,0.0,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [474]:
# 706 books are rated by minimum 50 peoples
# and 810 users who rated more than 200 books

In [475]:
pivot_table.fillna(0, inplace=True)
pivot_table

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271284,271448,271705,273979,274061,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [476]:
# we will find similarities between books using cosine similarities

In [477]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_score=cosine_similarity(pivot_table)
similarity_score

array([[1.        , 0.10912342, 0.        , ..., 0.12519305, 0.0628184 ,
        0.04462853],
       [0.10912342, 1.        , 0.23421949, ..., 0.04408081, 0.14949409,
        0.16109257],
       [0.        , 0.23421949, 1.        , ..., 0.01152617, 0.        ,
        0.05125939],
       ...,
       [0.12519305, 0.04408081, 0.01152617, ..., 1.        , 0.        ,
        0.        ],
       [0.0628184 , 0.14949409, 0.        , ..., 0.        , 1.        ,
        0.10368544],
       [0.04462853, 0.16109257, 0.05125939, ..., 0.        , 0.10368544,
        1.        ]])

In [478]:
# This is a 706 by 706 matrix which is showing euclidian distance between the 706 books

In [479]:
similarity_score.shape

(706, 706)

In [480]:
similarity_score[0]

array([1.        , 0.10912342, 0.        , 0.        , 0.05012753,
       0.        , 0.09321363, 0.1513735 , 0.        , 0.04861375,
       0.        , 0.0800521 , 0.02553532, 0.11488842, 0.13401838,
       0.07166037, 0.12151055, 0.04410238, 0.        , 0.1349747 ,
       0.        , 0.16021616, 0.0907466 , 0.0709942 , 0.08971155,
       0.        , 0.06846335, 0.14324513, 0.07636366, 0.13125996,
       0.        , 0.        , 0.        , 0.08650704, 0.05669646,
       0.        , 0.10662294, 0.        , 0.        , 0.07702153,
       0.13405589, 0.04668067, 0.10998222, 0.10171698, 0.09742724,
       0.03798372, 0.06429048, 0.32039386, 0.11250224, 0.06191541,
       0.04876884, 0.08076099, 0.        , 0.05507935, 0.        ,
       0.        , 0.05679434, 0.        , 0.06803357, 0.        ,
       0.20358646, 0.        , 0.        , 0.        , 0.0524064 ,
       0.07590146, 0.18323272, 0.        , 0.14773056, 0.07069907,
       0.        , 0.        , 0.        , 0.11883451, 0.0296735 ,
       0.04083708, 0.        , 0.06033672, 0.        , 0.0978831 ,
       0.0256335 , 0.        , 0.26896872, 0.        , 0.1169998 ,
       0.07738799, 0.15094955, 0.13733371, 0.1103639 , 0.        ,
       0.06426592, 0.        , 0.15385942, 0.03904772, 0.        ,
       0.02001676, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.13799992, 0.04130205, 0.05133438, 0.08567868,
       0.        , 0.03075453, 0.05991634, 0.        , 0.05360538,
       0.        , 0.        , 0.08211692, 0.        , 0.        ,
       0.        , 0.        , 0.11103493, 0.17420926, 0.18660248,
       0.06509507, 0.0569967 , 0.0506294 , 0.07754029, 0.04913662,
       0.05363236, 0.        , 0.0369957 , 0.06099907, 0.        ,
       0.        , 0.09841268, 0.        , 0.        , 0.        ,
       0.02777234, 0.03802134, 0.10165476, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.03396411, 0.        , 0.05629003, 0.        , 0.09935716,
       0.03222643, 0.13032213, 0.0925466 , 0.15297147, 0.05949774,
       0.13367771, 0.        , 0.        , 0.07815484, 0.        ,
       0.05692594, 0.        , 0.        , 0.0175787 , 0.06089441,
       0.        , 0.        , 0.        , 0.        , 0.16286218,
       0.05515022, 0.        , 0.        , 0.        , 0.17381317,
       0.        , 0.        , 0.        , 0.03409517, 0.        ,
       0.        , 0.21055446, 0.        , 0.1046014 , 0.        ,
       0.        , 0.06146695, 0.08043353, 0.        , 0.        ,
       0.07003502, 0.        , 0.15292355, 0.        , 0.09376301,
       0.14265079, 0.07366237, 0.17317846, 0.0929296 , 0.        ,
       0.        , 0.        , 0.10892288, 0.04177918, 0.05644459,
       0.12054392, 0.13463657, 0.05486683, 0.05316747, 0.04015362,
       0.        , 0.09919851, 0.06981505, 0.05536771, 0.12547363,
       0.06183966, 0.14015309, 0.0836801 , 0.08274528, 0.13256824,
       0.        , 0.        , 0.        , 0.        , 0.04642683,
       0.12186286, 0.03254943, 0.07426159, 0.09936812, 0.06151458,
       0.1112103 , 0.07249424, 0.06049741, 0.        , 0.        ,
       0.        , 0.00955154, 0.        , 0.        , 0.        ,
       0.        , 0.05500626, 0.        , 0.11366129, 0.11691335,
       0.08875127, 0.        , 0.        , 0.        , 0.03609499,
       0.08947186, 0.1585139 , 0.        , 0.14838073, 0.0814325 ,
       0.13797562, 0.06527066, 0.        , 0.        , 0.0401686 ,
       0.        , 0.11770641, 0.13884084, 0.        , 0.06967048,
       0.        , 0.        , 0.03809623, 0.02498829, 0.14845685,
       0.08657914, 0.08037334, 0.        , 0.        , 0.        ,
       0.08197475, 0.07323274, 0.06080761, 0.        , 0.        ,
       0.        , 0.09870955, 0.        , 0.        , 0.        ,
       0.        , 0.1428825 , 0.        , 0.        , 0.0649397 ,
       0.        , 0.04913854, 0.        , 0.15012693, 0.        ,
       0.        , 0.07133303, 0.04669706, 0.        , 0.        ,
       0.06071855, 0.06501725, 0.13938125, 0.12082908, 0.        ,
       0.13536821, 0.05853566, 0.077317  , 0.        , 0.1591546 ,
       0.06870279, 0.        , 0.12895868, 0.        , 0.        ,
       0.        , 0.12398492, 0.05099895, 0.21019756, 0.        ,
       0.        , 0.        , 0.07894274, 0.11604543, 0.10914169,
       0.        , 0.13014902, 0.11176373, 0.03085839, 0.        ,
       0.07713629, 0.08916432, 0.        , 0.        , 0.1683158 ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.21724267,
       0.        , 0.04319761, 0.07730446, 0.10814212, 0.04803126,
       0.04886184, 0.        , 0.        , 0.06378464, 0.17787832,
       0.06644962, 0.        , 0.15888832, 0.074907  , 0.        ,
       0.06810918, 0.        , 0.13179955, 0.1058658 , 0.09141948,
       0.09031458, 0.1346513 , 0.        , 0.        , 0.0707664 ,
       0.        , 0.06535478, 0.        , 0.10463935, 0.14516923,
       0.        , 0.06167469, 0.09942371, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.12056192, 0.07420019, 0.16567466, 0.        , 0.07445839,
       0.        , 0.        , 0.05743004, 0.        , 0.        ,
       0.        , 0.08772658, 0.16875521, 0.07397197, 0.        ,
       0.08364154, 0.        , 0.12595512, 0.        , 0.        ,
       0.        , 0.06148039, 0.19226269, 0.        , 0.14788523,
       0.14456874, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.09915726, 0.        , 0.06736118, 0.        ,
       0.12979862, 0.09122604, 0.07001153, 0.05437512, 0.        ,
       0.05009241, 0.06298189, 0.0550799 , 0.        , 0.08495097,
       0.        , 0.11750062, 0.13219723, 0.        , 0.14527981,
       0.        , 0.        , 0.12604495, 0.19483344, 0.09152559,
       0.09191593, 0.03843877, 0.09671092, 0.04732403, 0.05477955,
       0.        , 0.        , 0.06305986, 0.        , 0.        ,
       0.05793528, 0.        , 0.        , 0.06554665, 0.        ,
       0.        , 0.        , 0.050836  , 0.0668304 , 0.130568  ,
       0.        , 0.08405286, 0.07951056, 0.        , 0.05568081,
       0.13473011, 0.0479051 , 0.058208  , 0.        , 0.06627273,
       0.1230163 , 0.        , 0.06843488, 0.        , 0.16810982,
       0.05457085, 0.18937333, 0.        , 0.        , 0.07492606,
       0.        , 0.08410393, 0.16040487, 0.        , 0.08218221,
       0.06794566, 0.06383469, 0.05057006, 0.21281812, 0.14750234,
       0.05700713, 0.07584761, 0.        , 0.        , 0.13901272,
       0.12718546, 0.04600427, 0.        , 0.        , 0.        ,
       0.24525332, 0.04363049, 0.05157634, 0.02843529, 0.08975402,
       0.0507525 , 0.07144042, 0.08008257, 0.        , 0.        ,
       0.        , 0.16081748, 0.13048594, 0.10237452, 0.09334871,
       0.10722908, 0.06099562, 0.08393968, 0.14360214, 0.        ,
       0.23085611, 0.        , 0.08777491, 0.        , 0.04590698,
       0.08508753, 0.        , 0.2340139 , 0.06781952, 0.        ,
       0.05752155, 0.09097843, 0.        , 0.        , 0.06087824,
       0.05707577, 0.08852636, 0.17184758, 0.06430437, 0.        ,
       0.10773022, 0.16866992, 0.08270401, 0.        , 0.19103328,
       0.3007755 , 0.21393754, 0.06395273, 0.02889026, 0.08053585,
       0.14671264, 0.26792391, 0.16567026, 0.        , 0.2435415 ,
       0.        , 0.04388494, 0.12677896, 0.17617018, 0.        ,
       0.08823097, 0.        , 0.14260142, 0.        , 0.0757846 ,
       0.07143448, 0.        , 0.07113245, 0.        , 0.14882962,
       0.07423145, 0.        , 0.        , 0.        , 0.05111997,
       0.0523007 , 0.16695658, 0.        , 0.12577521, 0.05691083,
       0.05354103, 0.06376372, 0.06967981, 0.14754286, 0.07103991,
       0.        , 0.04795202, 0.        , 0.19414652, 0.02398512,
       0.18001059, 0.15982702, 0.        , 0.07149292, 0.09720364,
       0.08260729, 0.06432336, 0.07515365, 0.212717  , 0.        ,
       0.        , 0.04554022, 0.03809682, 0.        , 0.11757124,
       0.10752205, 0.13972054, 0.        , 0.06672327, 0.        ,
       0.03653293, 0.10920837, 0.11230312, 0.        , 0.        ,
       0.09810421, 0.08547009, 0.03171749, 0.        , 0.        ,
       0.09832635, 0.        , 0.20508538, 0.04159659, 0.20678433,
       0.04922194, 0.        , 0.13515616, 0.1018827 , 0.        ,
       0.10670684, 0.08291505, 0.07253528, 0.        , 0.26251107,
       0.        , 0.1778254 , 0.0444442 , 0.14741653, 0.        ,
       0.13764796, 0.05721899, 0.        , 0.16916439, 0.        ,
       0.10930774, 0.043642  , 0.16127991, 0.09498016, 0.11195979,
       0.13097146, 0.03041825, 0.        , 0.        , 0.07330826,
       0.01582463, 0.        , 0.0242819 , 0.04763021, 0.14572758,
       0.13025091, 0.        , 0.        , 0.        , 0.06559299,
       0.10867789, 0.17689957, 0.07911321, 0.        , 0.        ,
       0.11270793, 0.04892492, 0.10122178, 0.        , 0.1621379 ,
       0.04979126, 0.        , 0.05994762, 0.        , 0.        ,
       0.        , 0.        , 0.14323397, 0.08599842, 0.10207304,
       0.        , 0.10703723, 0.        , 0.03810852, 0.0823493 ,
       0.09132222, 0.        , 0.06768248, 0.        , 0.        ,
       0.        , 0.05632366, 0.        , 0.        , 0.12395307,
       0.        , 0.07180762, 0.        , 0.12519305, 0.0628184 ,
       0.04462853])

In [483]:
def recommend(book_name):
    # index fetch
    index=np.where(pivot_table.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_score[index])),key=lambda x:x[1], reverse=True)[1:6]
    
    for i in similar_items:
        print(pivot_table.index[i[0]])

In [487]:
recommend("The Da Vinci Code")

Angels &amp; Demons
Touching Evil
The Sweet Potato Queens' Book of Love
One Door Away from Heaven
Saving Faith

In [ ]:
Wild Animus                           330
Bridget Jones's Diary                 263
The Lovely Bones: A Novel             261
The Notebook                          238
The Pelican Brief                     229

In [103]:
# can find index of each book using this code
np.where(pivot_table.index=='4 Blondes')[0][0]
# this book is at at 4th row, thats why showing 3 position
# 0, 1, 2, 3, .........

3

In [104]:
# Pivot Table when columns are book title and index are user-id
# our aim is to find similarity between users-id

In [233]:
# K-Nearest Neighbourhood

In [240]:
from scipy.sparse import csr_matrix
country_users_rating_pivot = country_users_rating.pivot_table(index = 'Book-Title', columns = 'User-ID', values = 'Book-Rating').fillna(0)
country_users_rating_matrix = csr_matrix(country_users_rating_pivot.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(country_users_rating_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [241]:
country_users_rating_pivot

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271284,271448,271705,273979,274061,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [242]:
country_users_rating_matrix

<706x625 sparse matrix of type '<class 'numpy.float64'>'
	with 11318 stored elements in Compressed Sparse Row format>

In [613]:
query_index = int(input("Enter index No.: "))

Enter index No.: 29

In [614]:
'''
query_index = np.random.choice(country_users_rating_pivot.shape[0])
print(query_index)
'''

'\nquery_index = np.random.choice(country_users_rating_pivot.shape[0])\nprint(query_index)\n'

In [615]:
country_users_rating_pivot.iloc[query_index,:].values.reshape(1,-1)

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  3.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  6.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,  0.,
         5.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        10.,  0.,  0.,  0.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.]])

In [616]:
distances, indices = model_knn.kneighbors(country_users_rating_pivot.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)
distances, indices

(array([[0.        , 0.6919244 , 0.74342691, 0.75125085, 0.79576591,
         0.79896211]]),
 array([[ 29, 417, 310, 598, 500, 554]], dtype=int64))

In [617]:
country_users_rating_pivot.index[query_index]

"ANGELA'S ASHES"

In [618]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(country_users_rating_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i,country_users_rating_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for ANGELA'S ASHES:

1: Schindler's List, with distance of 0.6919244027220192:
2: Love in the Time of Cholera (Penguin Great Books of the 20th Century), with distance of 0.7434269117797333:
3: The Red Tent (Bestselling Backlist), with distance of 0.7512508489229709:
4: The Catcher in the Rye, with distance of 0.7957659139471:
5: The Hundred Secret Senses, with distance of 0.7989621129495849:

In [619]:
pivot_table2=final_ratings.pivot_table(index='User-ID', columns='Book-Title', values='Book-Rating')
pivot_table2

Book-Title,1984,1st to Die: A Novel,2nd Chance,4 Blondes,A Bend in the Road,A Case of Need,"A Child Called \It\"": One Child's Courage to Survive""",A Civil Action,A Day Late and a Dollar Short,A Fine Balance,...,Winter Solstice,Wish You Well,Without Remorse,"Wizard and Glass (The Dark Tower, Book 4)",Wuthering Heights,Year of Wonders,You Belong To Me,Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,Zoya,"\O\"" Is for Outlaw"""
User-ID,,,,,,,,,,,,,,,,,,,,,
254,9.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2276,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2766,NaN,NaN,NaN,NaN,7.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN
3363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274308,NaN,NaN,0.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
275970,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN
277427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277639,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278418,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [620]:
pivot_table2.fillna(0, inplace=True)
pivot_table2

Book-Title,1984,1st to Die: A Novel,2nd Chance,4 Blondes,A Bend in the Road,A Case of Need,"A Child Called \It\"": One Child's Courage to Survive""",A Civil Action,A Day Late and a Dollar Short,A Fine Balance,...,Winter Solstice,Wish You Well,Without Remorse,"Wizard and Glass (The Dark Tower, Book 4)",Wuthering Heights,Year of Wonders,You Belong To Me,Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,Zoya,"\O\"" Is for Outlaw"""
User-ID,,,,,,,,,,,,,,,,,,,,,
254,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2276,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2766,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0
3363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274308,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [621]:
# we will find similarities between users-id using cosine similarities

In [622]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_score=cosine_similarity(pivot_table2)
similarity_score

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.12087741, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.12087741, 1.        , ..., 0.        , 0.        ,
        0.05519574],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.05519574, ..., 0.        , 0.        ,
        1.        ]])

In [623]:
def recommend(User_ID):
    # index fetch
    index=np.where(pivot_table2.index==User_ID)[0][0]
    similar_items = sorted(list(enumerate(similarity_score[index])),key=lambda x:x[1], reverse=True)[1:6]
    
    for i in similar_items:
        print(pivot_table2.index[i[0]])

In [624]:
recommend(2977)

37567
124079
92652
251422
206979

In [625]:
#254,2276,2766,2977,3363